<form class="row g-3">
  <legend>Edit Company</legend>

  <div class="col-md-6">
    <label class="form-label mt-4" for="companyName"><i class="fa-solid fa-building"></i> New Company Name</label>
    <input [(ngModel)]="company.name" class="form-control" id="companyName" name="name" placeholder="Company Name"
           type="text">
    <label *ngIf="errorName" style="color: red">{{errorName}}</label>
  </div>

  <div class="col-md-6">
    <label class="form-label mt-4" for="exampleInputEmail1"><i class="fa-solid fa-at"></i> New Email address</label>
    <input [(ngModel)]="company.email" aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1" name="email"
           placeholder="Enter email"
           type="email">
    <label *ngIf="errorEmail" style="color: red">{{errorEmail}}</label>
  </div>

  <div class="col-md-6">
    <label class="form-label mt-4" for="companyAddress"><i class="fa-solid fa-map-location-dot"></i> New Company Address</label>
    <input [(ngModel)]="company.address" class="form-control" id="companyAddress" name="address" placeholder="Company Address"
           type="text">
    <label *ngIf="errorAddress" style="color: red">{{errorAddress}}</label>
  </div>

  <div class="col-md-6">
    <label class="form-label mt-4" for="companyWebsite"><i class="fa-brands fa-internet-explorer"></i> New Company
      Website</label>
    <input [(ngModel)]="company.website" class="form-control" id="companyWebsite" name="website" placeholder="Company Website"
           type="text">
    <label *ngIf="errorWebsite" style="color: red">{{errorWebsite}}</label>
  </div>

  <div class="col-md-6">
    <label class="form-label mt-4" for="companyPhone"><i class="fa-solid fa-phone"></i> New Company Phone</label>
    <input [(ngModel)]="company.phone" class="form-control" id="companyPhone" name="phone" placeholder="Company Phone"
           type="text">
    <label *ngIf="errorPhone" style="color: red">{{errorPhone}}</label>
  </div>

  <div class="col-md-6">
    <label class="form-label mt-4" for="companyDescription"><i class="fa-solid fa-align-justify"></i> New Company
      Description</label>
    <textarea [(ngModel)]="company.description" class="form-control" id="companyDescription" name="description"
              rows="3"></textarea>
  </div>

  <div class="col-12">
    <button (click)="update()" class="btn btn-primary m-2" type="submit">Update</button>
    <a class="btn btn-secondary" href="#" role="button" routerLink="/companies">Back</a>

  </div>
</form>
